<div style="height: 100%">
  <h1>STUDENT MANAGEMENT</h1>

  <!-- <button class="k-button add" *ngIf="!opened" (click)="open()">
      Add Student
    </button> -->
  <kendo-upload [autoUpload]=false (upload)="onUpload($event)"> </kendo-upload>

  <kendo-grid
    [data]="gridView"
    [resizable]="true"
    [height]="450"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
     (pageChange)="pageChange($event)"
    (edit)="editHandler($event)"
    (save)="saveHandler($event)"
    (add)="addHandler($event)"
    (cancel)="cancelHandler($event)"
    (remove)="removeHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
    <kendo-grid-column field="email" title="Email"> </kendo-grid-column>
    <kendo-grid-column field="age" title="Age"> </kendo-grid-column>
    <kendo-grid-column field="dob" title="DOB"> </kendo-grid-column>
    <kendo-grid-column field="id" title="id" [hidden]="true">
    </kendo-grid-column>

    <kendo-grid-command-column title="command">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand [primary]="true">Edit</button>

        <button kendoGridRemoveCommand>Remove</button>
        

        <button kendoGridSaveCommand>{{ isNew ? "Add" : "Update" }}</button>

        <button kendoGridCancelCommand>
          {{ isNew ? "Discard changes" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
